TD {
    font-family: arial, helvetica, sans-serif;
}

H1 {
    font-size: 38px;
    font-family: arial, helvetica, sans-serif;
}
H3 {
    font-size: 20px;
    font-family: arial, helvetica, sans-serif;
    margin:0px;
    text-align:left;
    display:inline-block

}

H4 {
    font-size: 20px;
    font-family: arial, helvetica, sans-serif;
    margin:0px;
    text-align:left;

}

button{
    margin-left:130px;
    margin-top:20px;
}

div{
    width:300px;
    border:2px solid;
    display:inline-block;
}
#screen{
    width:300px;
    border:2px solid;
    margin-left: 480px;
    
}

#counter1{
    width:300px;
    border:2px solid;
    display:inline-block;
    margin-top:100px;
    opacity:1;
}

span.c1_indicator{
  height: 15px;
  width: 15px;
  margin-left:280px;
  margin-bottom:0px;
  background-color: green;
  border-radius: 50%;
  display:inline-block;
}

#counter2{
    width:300px;
    border:2px solid;
    display:inline-block;
    margin-top:100px;
}

span.c2_indicator{
  height: 15px;
  width: 15px;
  margin-left:280px;
  margin-bottom:0px;
  background-color: green;
  border-radius: 50%;
  display:inline-block;
}

#counter3{
    width:300px;
    border:2px solid;
    display:inline-block;
    margin-top:100px;
}

span.c3_indicator{
  height: 15px;
  width: 15px;
  margin-left:280px;
  margin-bottom:0px;
  background-color: green;
  border-radius: 50%;
  display:inline-block;
}

#counter4{
    width:300px;
    border:2px solid;
    display:inline-block;
    margin-top:100px;
}

span.c4_indicator{
  height: 15px;
  width: 15px;
  margin-left:280px;
  margin-bottom:0px;
  background-color: green;
  border-radius: 50%;
  display:inline-block;
}

text{
     margin-left:150px;
}


p.highlight {
    color: red;
}
